body {
  margin: 4%;
  font: normal 1em/1.5em "Trebuchet MS", arial, sans-serif;
  color: #666;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: #fff;
  background-color: red;
}

header {
  margin-bottom: 4%;
}
